body{
	background: url("../images/background.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#weatherInput::-webkit-input-placeholder {
    font-weight: bold;
    font-size: 30px;
}

.container{
    font-family: 'Josefin Sans', sans-serif;

}

  .container1{
    background: linear-gradient(blue,silver)
  }
  
  .container2{
    background: linear-gradient(silver,blue)
}
 
.page-footer{
   background-color: aqua
}
